
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@500;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
.root{
    font-family: 'Roboto', sans-serif;
}

body{
    font-size:1rem;
}

a{
    text-decoration:none;
}
.top-ask-field{
    display:flex;
width:80vw;
position: absolute;
left:20vw;
/* height:50px; */
}

.ask-input{
    width:80%;
    height:50px;
    font-size: 1.2rem;
}

button.ask-button {
position:relative;
left:-50px;
top:2px;
widows: 30px;
height:50px;
font-size: 1.2rem;
}

.vertical-nav-bar{
    border-top-left-radius: 20px;
    width:15vw;
    height:95vh;
    background-color:#25282D;
    color:white;
    border-bottom-left-radius: 20px;
 transition:.5s;

}

.display-user-type{
    margin-left:20px;
    position: relative;
    background-color:rgb(0, 68, 255);
    padding:8px;
    margin: 20px auto;
    font-size:.6rem;
    font-weight: 600;
    letter-spacing:.15rem;
    line-height: .3rem;
    left: 10px;
    border-radius: 5px;
 transition:.5s;

}

.top-text-column{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    transition:.5s;

}

.top-text-column h2{
    

    top:18px;
    left:20px;
 position: relative;
 left:15px;
 letter-spacing: .05rem;
 font-size: .8rem;
 line-height: .2rem;
 font-family: 'Sora', sans-serif;
 transition:.5s;

}



.list-of-vertical-nav-content:hover {
    margin-top: 2px;
    position: relative;
    top: 50px;
    color: rgb(0, 0, 0);
    width: 45vh;
    height: 25px;
    color:linear-gradient(rgb(235, 0, 0),blue);
    text-align: center;
    background:linear-gradient( gray,white);
    transition:.5s;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
    .list-of-vertical-nav-content {
    margin-top: 2px;
    position: relative;
    top: 50px;
    color: gray;
    width: 100%;
    height: 10px;
    color: white;
    text-align: center;

    background:linear-gradient(rgb(54, 50, 50),rgb(75, 70, 70),rgb(65, 62, 62));
    padding-top: 13px;
    padding-bottom: 20px;
    transition:.5s;
    }

    .far{
        float: left;
        padding-left: 15px;
    }

    .list-of-vertical-nav-bar {

        display:flex;
        flex-direction: column;
        width: 15vw;
        align-items: flex-start;
    }


    img.vertical-nav-icon {
        width: 19px;
        height: 17px;
        float: left;
        padding-left: 13px;
    }

@media screen and(max-width:900px){

}

/* *******************************Media query1********************************** */
@media screen and (max-width:750px){

    .top-ask-field{
        width:115vw;
        left:10px;
        top:8px;
        transition:.5s;
        }

        .vertical-nav-bar{
            position:relative;
            top:60px;
            transition:.3s;
        }

        .vertical-nav-bar{
            width:100vw;
           height:53vh;
            background-color:#25282D;
            color:white;
           border-radius: 15px;
           transition:.3s;
        }



        .list-of-vertical-nav-bar{
            position: relative
            top:20px;
           
        }
.list-of-vertical-nav-content:hover {
    margin-top: 2px;
    position: relative;
    top: 50px;
    color: gray;
    width: 100vw;
    height: 24px;
    color:linear-gradient(rgb(235, 0, 0),blue);
    text-align: center;
    background:linear-gradient( gray,white);
    transition:.5s;
    padding-top: 19px;
    padding-bottom: 10px;
}

.list-of-vertical-nav-content {
    margin-top: 2px;
    position: relative;
    top: 50px;
    color: gray;
    width: 100vw;
    height: 24px;
    color: white;
    text-align: center;
    border-radius: 15px;
    background:linear-gradient(rgb(8, 8, 8),rgb(57, 58, 57),rgb(57, 57, 93));
    padding-top: 19px;
    padding-bottom: 10px;
    transition:.5s;
}

            .list-of-vertical-nav-bar {

                display:flex;
                flex-direction: column;
                width: 100vw;
                align-items: center;
            }

    }






/* *******************************Media query2********************************** */


@media screen and (max-width:992px) 
and (min-width:750px)
{
    .display-user-type{
    
        position: relative;
        background-color:rgb(0, 68, 255);
        padding:8px;
        margin: 20px auto;
        font-size:.9rem;
        font-weight: 600;
        letter-spacing:.15rem;
        line-height: .3rem;
        left: -50%;
        top:30px;
        border-radius: 5px;
    }

    .top-text-column h2{
        top:18px;
        left:20px;
     position: relative;
     left:15px;
     letter-spacing: .05rem;
     font-size: 1rem;
     line-height: .2rem;
     font-family: 'Sora', sans-serif;
    }


        

}

/* *******************************Media query3********************************** */


@media screen and (max-width:1200px)
and (min-width:750px){
    .vertical-nav-bar{
        border-top-left-radius: 20px;
        width:20vw;
        height:95vh;
        background-color:#25282D;
        color:white;
        border-bottom-left-radius: 20px;
     transition:.7s;
    }

    .list-of-vertical-nav-bar{
        position: relative
        top:20px;
       
    }
.list-of-vertical-nav-content:hover {
margin-top: 2px;
position: relative;
top: 50px;
color: rgb(0, 0, 0);
width: 45vh;
height: 24px;
color:linear-gradient(rgb(235, 0, 0),blue);
text-align: center;
background:linear-gradient( gray,white);
transition:.5s;
padding-top: 19px;
padding-bottom: 10px;
}

.list-of-vertical-nav-content {
margin-top: 2px;
position: relative;
top: 50px;
color: gray;
width: 100%;
height: 24px;
color: white;
text-align: center;
border-radius: 15px;
background:linear-gradient(rgb(8, 8, 8),rgb(57, 58, 57),rgb(57, 57, 93));
padding-top: 19px;
padding-bottom: 10px;
transition:.5s;
}

        .list-of-vertical-nav-bar {

            display:flex;
            flex-direction: column;
            width: 20vw;
            align-items: center;
        }
}


